- if logged_in?
  .container
    %h1 Welcome to Deal Docks
  .container
    .category-list
      - @categories.each do |category|
        %button.category-button{ type: 'button', onclick: "window.location='#{filter_by_category_path(category[:id])}'" }
          = category[:name]
  .container
    #suggested-items
    - @suggested_items.each do |item|
      .item
        %h3= "Item Title"
        %h3= "Picture"
        %h3= "Price"

  .container
    %h1= "Your Items for Sale"
  .container
    #suggested-items
    - @user_items.each do |item|
      .item
        %h3= "Item Title"
        %h3= "Picture"
        %h3= "Price"
- else
  .container
    %h1 Welcome to Website Name
    = link_to 'Sign Up', signup_path, class: 'btn btn-primary'
    = link_to 'Login', login_path, class: 'btn btn-secondary'

%footer
  %p © 2023 Website Name. All rights reserved.
